<div class="container-fiuld user">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
      <ul>
        <li class="active"><a href="/users/<%=@current_user.id %>/account">アカウント</a></li>
        <li class=""><a href="/users/<%=@current_user.id %>/profile">プロフィール</a></li>
      </ul>
    </div>
    <div class="col-lg-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5>アカウント</h5>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <label class="col-md-3" for="email">メールアドレス</label>
            <div class="col-md-9"><%= @current_user.email %></div>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <label class="col-md-3" for="password">パスワード</label>
            <div class="col-md-9">●●●●●●●●</div>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <a class="col-md-2 btn btn-primary mx-3" href="/users/<%= @current_user.id %>/edit_account">編集</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>