<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="row col-lg-6">
        <div class="form-fream">
          <div class="form-area">
            <p class="form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</p>
            <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.label :area, "エリア" %>
            <%= f.text_field :area,class:"form-control",placeholder:"東京", class:"form-control mb-4" %>
            <%= f.submit "探す", class:"form-control btn-primary mb-4"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel-area m-5">
      <h1 class="section-title">おすすめのエリア</h1>
      <div class="row">
        <div class="panel-item col-lg-3 col-6">
          <span>東京</span>
          <a href="http://127.0.0.1:3000/search?area=%E6%9D%B1%E4%BA%AC&keyword=&commit=Submit"><img class="panel-image"
              src="/assets/img_tokyo.jpg"></a>
          <div class="shadow"></div>
        </div>
        <div class="panel-item col-lg-3 col-6">
          <span>大阪</span>
          <a href="http://127.0.0.1:3000/search?area=%E5%A4%A7%E9%98%AA&keyword=&commit=Submit"><img class="panel-image"
              src="/assets/img_osaka.jpg"></a>
          <div class="shadow"></div>
        </div>
        <div class="panel-item col-lg-3 col-6">
          <span>京都</span>
          <a href="http://127.0.0.1:3000/search?area=%E4%BA%AC%E9%83%BD&keyword=&commit=Submit"><img
              class="panel-image shadow" src="/assets/img_kyoto.jpg"></a>
          <div class="shadow"></div>
        </div>
        <div class="panel-item col-lg-3 col-6">
          <span>札幌</span>
          <a href="http://127.0.0.1:3000/search?area=%E6%9C%AD%E5%B9%8C&keyword=&commit=Submit"><img class="panel-image"
              src="/assets/img_sapporo.jpg"></a>
          <div class="shadow"></div>
        </div>
      </div>
    </div>
  </div>
</div>